form{
    text-align: left;
    border-radius: 30px;
}
table, td{
    border-collapse: collapse;
    width: 40px;
    padding: 1%;
    border-radius: 30px;
    background-color: lightgray;
}
input[type=text], input[type=date] {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 1%;
}
input[type=stiil]{
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 1%;
}
label{
    font-weight: bold;
}
input[type=radio]:hover, input[type=radio]:focus{
    background-color: lightgray;
    font-size: 20pt;
    width: 40px;
    height: 20px;
}